@model CoordinatorDashBoardModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Coordinator/Views/Shared/_CoordinatorLayout.cshtml";
}

<div class="content-wrapper">
    <h1>Index</h1>
</div>


