@{
    //ViewData["Title"] = "Home Page";
    Layout = "_AdminLayout";
}

<div class="content-wrapper">

    <div class="text-center">
        <img class="img-responsive" src="~/img/diuLogo.png" alt="Chania" width="70">
        <h4>DAFFODIL INTERNATIONAL UNIVERSITY DIVISION OF RESEARCH</h4>
    </div>

    <div class="d-flex justify-content-center">
        <form class="w-50">
            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <label class="form-label" for="form1Example2">Department</label>

                </div>

                <div class="col">
                    <!-- Simple link -->
                    <input type="email" id="form1Example1" class="form-control" />
                </div>
            </div>

            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <label class="form-label" for="form1Example2">Date</label>

                </div>

                <div class="col">
                    <!-- Simple link -->
                    <input type="email" id="form1Example1" class="form-control" />
                </div>
            </div>

            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <label class="form-label" for="form1Example2">Quarter</label>

                </div>

                <div class="col">
                    <!-- Simple link -->
                    <div class="form-group">
                        <select class="form-control" id="sel1">
                            <option value="" selected disabled>Please select</option>
                            <option value="">First Quarter (January - April)</option>
                            <option value="">Second Quarter (May - August)</option>
                            <option value="">First Quarter (September - December)</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <label class="form-label" for="form1Example2">Name & Designation of Coordinator </label>

                </div>

                <div class="col">
                    <!-- Simple link -->
                    <input type="email" id="form1Example1" class="form-control" />
                </div>
            </div>

            <!-- Submit button -->
            <div class="row mb-4 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-block w-25">Submit</button>
            </div>
        </form>
    </div>
</div>