@model Research_Coordinating_System.Areas.Admin.Models.AdminDashBoardModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="content-wrapper">
    <h1>Admin Dashboard</h1>

    <div>
        <hr />
        <dl class="row">
        </dl>
    </div>
    <div>
       
    </div>

</div>
